@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rubik+Wet+Paint&display=swap");

@font-face {
  font-family: "neon-tubes-2-regular";
  src: url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype");
}

body {
  font-family: "Cedarville Cursive", cursive;
}

.greeting {
  font-size: 6rem;
}

.light {
  background-color: white;
  color: rgb(35, 34, 34);
}

.dark {
  background-color: rgb(25, 24, 24);
  color: #fff;
}
.button-container {
  padding-top: 100px;
}
.bn54 {
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: "Rubik Wet Paint", cursive;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.6s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.6s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.neon {
  user-select: none;
  font-family: "Cedarville Cursive", cursive;
  font-size: 6rem;
}

.dark .neon b {
  color: #fee(234, 178, 178);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff7700, 0 0 0.5em #f61616,
    0 0 0.1em #fd0909, 0 10px 3px #000;
}

.light .neon b {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #362491, 0 0 0.5em #200aad,
    0 0 0.1em #3b0a70, 0 10px 3px #000;
}
.neon b span {
  animation: blink linear infinite 2s;
}
.neon b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media only screen and (max-width: 600px) {
  b {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
  }

  .button-container {
    padding-top: 50px;
  }
}
